<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.tcmp.mapper.SpecialtrainMapper">
    <cache></cache>
    <resultMap type="Specialtrain" id="specialtrainList">
        <id column="specialtrainId" property="specialtrainId"/>
        <result column="skillId" property="skillId"/><!--知识点编号-->
        <result column="count" property="count"/><!--本次做题数-->
        <result column="correctCount" property="correctCount"/><!--本次正确数-->
        <result column="studentId" property="studentId"/><!--学号-->
        <result column="classId" property="classId"/><!--班级编号-->
        <result column="skillIdcount" property="skillIdcount"/><!--完成数-->
        <result column="totalTime" property="totalTime"/><!--总用时-->
        <result column="submitTime" property="submitTime"/><!---->
        <result column="className" property="className"></result>
        <result column="studentName" property="studentName"></result>
        <result column="meanTime" property="meanTime"></result>
    </resultMap>

    <!--根据条件查询满足条件的记录数-->
    <select id="selectSpecialtrainCountByWhere" parameterType="SpecialtrainDTO" resultType="int">
        select count(studentId) from (select  student.studentId from specialtrain
        INNER JOIN student on student.studentId = specialtrain.studentId
        INNER JOIN class on class.classId = student.classId
        where student.studentName LIKE concat('%','%','%') and class.classId = 2
        and specialtrain.submitTime BETWEEN '2018-6-1' AND '2018-6-4'
        GROUP BY student.studentId) student

    </select>
    <resultMap id="SpecialtrainResult" type="SpecialtrainResultDTO">
        <result column="studentId" property="studentId"></result>
        <result column="studentName" property="studentName"></result>
        <result column="className" property="className"></result>
        <result column="sumNumber" property="sumNumber"></result>
        <result column="rightNumber" property="rightNumber"></result>
        <result column="sumTime" property="sumTime"></result>
    </resultMap>
    <!--得到数据表满足查询条件的分页记录-->
    <select id="selectSpecialtrainByPage" parameterType="SpecialtrainDTO" resultMap="SpecialtrainResult">
        select student.studentId,student.studentName,class.className,SUM(specialtrain.count) as sumNumber,
        SUM(specialtrain.correctCount) as rightNumber, SUM(specialtrain.totalTime) as sumTime
        from specialtrain
        INNER JOIN student on student.studentId = specialtrain.studentId
        INNER JOIN class on class.classId = student.classId
        <trim prefix="where" prefixOverrides="and">
            <if test="classId !=null and classId>0">
                and class.classId=#{classId}
            </if>
            <if test="studentName!=null and studentName!=''">
                and studentName like concat('%',#{studentName},'%')
            </if>
            <if test="startTime!=null and endTime!=null">
                and submitTime BETWEEN #{startTime} AND #{endTime}
            </if>
        </trim>
        GROUP BY student.studentId ORDER BY SUM(specialtrain.count) DESC
        LIMIT #{fromTo},#{pageSize}
    </select>
    <resultMap id="SpecialtrainSkillResult" type="SpecialtrainSkillResultDTO">
        <result column="skillId" property="skillId"></result>
        <result column="fatherId" property="fatherId"></result>
        <result column="skillName" property="skillName"></result>
        <result column="studentId" property="studentId"></result>
        <result column="studentName" property="studentName"></result>
        <result column="className" property="className"></result>
        <result column="sumNumber" property="sumNumber"></result>
        <result column="rightNumber" property="rightNumber"></result>
        <result column="sumTime" property="sumTime"></result>
    </resultMap>
    <select id="selectSpecialtrainAndSkillByStudentId" parameterType="SpecialtrainDTO" resultMap="SpecialtrainSkillResult">
        select skill.skillId,skill.fatherId,skill.skillName,student.studentId,student.studentName,class.className,
        SUM(specialtrain.count) as sumNumber,SUM(specialtrain.correctCount) as rightNumber, SUM(specialtrain.totalTime) as sumTime
        from specialtrain
        inner join skill on skill.skillId = specialtrain.skillId
        INNER JOIN student on student.studentId = specialtrain.studentId
        INNER JOIN class on class.classId = student.classId
        <trim prefix="where" prefixOverrides="and">
            <if test="studentId !=null and studentId>0">
                and student.studentId=#{studentId}
            </if>
            <if test="startTime!=null and endTime!=null">
                and submitTime BETWEEN #{startTime} AND #{endTime}
            </if>
        </trim>
        GROUP BY skill.fatherId
    </select>
    <select id="selectFatherNameByFatherId" parameterType="Integer" resultType="String">
        select skillName from skill where skill.skillId = #{fatherId}
    </select>


</mapper>

