<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.tcmp.mapper.ParentMapper">
    <cache></cache>
    <resultMap type="Parent" id="parentInfo">
        <id property="parentId" column="parentId"/>
        <result property="parentName" column="parentName"/>
        <result property="password" column="password"></result>
        <result property="address" column="address"></result>
        <result property="loginIp" column="loginIp"></result>
        <result property="lastLoginTime" column="lastLoginTime"></result>
        <result property="phone" column="phone"></result>
        <result property="remark" column="remark"></result>
        <result property="isEnabled" column="isEnabled"></result>
        <result property="email" column="email"></result>
        <result property="parentCode" column="parentCode"></result>
    </resultMap>

    <select id="selectParentName" parameterType="int" resultMap="parentInfo">
        SELECT p.parentName FROM student AS s
        INNER JOIN stuparent AS sp ON sp.studentID = s.studentId
        INNER JOIN parent as p ON sp.parentID = p.parentId
        where sp.studentID=#{studentId}
    </select>

    <!--家长端首页登录-->
    <select id="parentLogin" resultMap="parentInfo">
        select * from Parent
        where parentCode=#{parentCode} and password=#{password}
    </select>

</mapper>
